@layout('layouts.main')

@section('header')
@super
  <h1>{{pagett || "Untitled"}}</h1>
@endsection

@section('content')
  @component('components.list', {
    entities: entities,
    border: true,
    borderColor: 'red'
  })
    @slot('notes')
      <small>Eat lots of Fruits and vegetables</small>
    @endslot
  @endcomponent
@endsection
