<h1>{{pagett || "Untitled"}}</h1>

<p>nihaonihao</p>
<br>

@if(user.name)
{{user.name}}
<br>
@else
Login / Signup
<br>
@endif


@each(entity in entities)
  <br>
  <div class="">
    <small>
      {{$loop.index + 1}}
      first: <i>{{$loop.first}}</i>
      last: <i>{{$loop.last}}</i>
      total: <i>{{$loop.total}}</i>
    </small>
    {{entity.title}}: {{entity.content}}
  </div>
@endeach
